.book-card {
  height: 420px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(212, 185, 150, 0.5);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-align: center;
  position: relative;
}
.book-card:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  background-color: rgba(255, 255, 255, 0.8);
}

.book-card img {
  width: 70%;
  height: 260px;
  border-radius: 1rem 1rem 0 0;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
  -ms-border-radius: 1rem 1rem 0 0;
  -o-border-radius: 1rem 1rem 0 0;
}
.book-card .book-detail {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.book-card .book-detail span {
  cursor: pointer;
}
.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.border-top {
  width: 35%;
  border-top: 1px solid gray;
  margin-bottom: 5px;
}
.book-info .title {
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 20px;
}
.author {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: black;
  font-size: 13px;
  font-weight: bold;
  padding: 0.2rem;
}
/* MODAL */
.overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-inner {
  background: white;
  width: 700px;
  height: 550px;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  font-size: 13px;
}

.overlay-inner .close {
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
  border: none;
  font-size: 17px;
  background-color: transparent;
}
.overlay-inner .inner-box {
  display: flex;
  flex-direction: column;
}
.inner-info {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}
.inner-info-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inner-info img {
  margin-right: 20px;
  width: 150px;
  height: 200px;
}
.inner-info .info {
  text-align: center;
}
.book-info {
  text-align: center;
}

.modal-author {
  font-size: 20px;
}
.inner-box .description {
  margin: 20px;
  text-align: justify;
  font-size: 13px;
}
