.header {
  width: 100%;
  height: 350px;
  background-image: url("../../img/kutuphane.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 50%;
  height: 80%;
}
.title {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 10px;
}
.header-search {
  width: 70%;
  height: 20%;
  padding-left: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header-search:focus {
  border: 2px solid rgba(61, 240, 253, 0.384);
}
